* {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 77.7px 1fr 77.7px;
  margin: 0;
  height: 100vh;
  align-items: center;
}

header {
  grid-row: 1;
  height: 77.7px;
  background-color: rgb(232, 58, 255);
  position: sticky;
  top: 0;
  z-index: 100;
  align-self: start;
}

#header_text {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Comic Neue', cursive, sans-serif;
  font-size: 2.5rem;
}

#main {
  grid-row: 2;
  margin-top: 20px;
}

#maingrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr 1fr 1fr;
}

#bonkdog {
  grid-column: 2 / span 3;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  width: 300px;
  height: 300px;
  background-image: url('dogebonk1.png');
  background-repeat: no-repeat;
  background-size: 300px 300px;
  border-width: 0;
  border-color: white;
  background-color: white;
}

#contract {
  grid-column: 2 / span 3;
  grid-row: 2;
  height: fit-content;
  justify-self: center;
  align-self: center;
  font-family: 'Comic Neue', cursive, sans-serif;
  font-size: 2rem;
}

#counter {
  grid-column: 2 / span 3;
  grid-row: 3;
  justify-self: center;
  font-size: 50px;
  font-family: 'Comic Neue', cursive, sans-serif;
  height: fit-content;
}

footer {
  grid-row: 3;
  background-color: rgb(55, 243, 180);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: sticky;
  bottom: 0;
  z-index: 100;
  align-self: end;
}

#footer_buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.socialbuttons {
  height: 55px;
  width: 55px;
  justify-self: center;
  align-self: center;
  border: none;
  background-color: rgb(55, 243, 180);;
  padding-bottom: 2%;
}

#telegram {
  grid-column: 1;
  background-image: url("Telegram_logo.svg");
}

#twitter {
  grid-column: 2;
  background-image: url("X_logo_2023.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#coingecko {
  grid-column: 3;
  background-image: url("CoinGecko_Logo.svg");
  background-size: 100%;
}


@media (max-width: 1000px) {
  #footer_buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #header_text {
    font-size: 1.5rem;
  }
  #contract {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  #contract {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  #contract {
    font-size: 0.8rem
  }
}

@media (max-height: 777px) {
  #maingrid {
    grid-template-rows: 60% 20% 20%;
  }
}

@media (max-height: 650px) {
  #bonkdog {
    width: 250px;
    height: 250px;
    background-size: 250px 250px;
  }
}

@media (max-height: 570px) {
  #bonkdog {
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
  }
}